{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block search %}
    <ul class="navbar-nav mt-2 mb-lg-0">
        <form class="d-flex" action="{% url 'blog:postsearch' %}" method="GET" role="search">
            <input class="form-control me-1" type="text" name="q" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
    </ul>
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">

            <div class="col-2"></div>

            <div class="col-8 mt-4"> 
                <h1>Register</h1>
                <hr>
                <form action="" method="POST">
                    {% csrf_token %}
                    {% if error %}
                        <div class="alert alert-danger">
                            {{error}}
                        </div>
                    {% endif %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" name="username" id="username" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" name="email" id="email" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" id="password" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="repassword" class="form-label">Password Again</label>
                        <input type="password" name="repassword" id="repassword" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-dark">Register</button>
                </form>
            </div>

            <div class="col-2"></div>

        </div>
    </div>
{% endblock %}